*{
    padding:0px;
    margin:0px;
}

main{
    width: 60%;
    margin-left : 20%;
    
}

header{
    background-color: silver;
    color : ghostwhite;
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px ;
    height: 100px;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;

}

article ul{
    width: 80%;
    background-color: rgb(255, 255, 3);
    margin-top : 20px;
    list-style: none;
    
}

article li {
    height: 20px;
    border: 1px dotted gray;
    display: flex;
    align-items: center;
    padding: 20px;

}

article a{
    text-decoration: none;
}

article li:hover{
    background-color: white ;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


section > h1{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

section > div {
    width: 80%;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    border: 3px dotted rgb(3, 3, 3);
    padding: 20px;
    margin: 10px;


}

header > div > a{
    text-decoration: none;
    display: inline-flex;
    padding: 10px;
    color:gray;
    background-color: rgb(187, 250, 250);
    border-radius: 5px;

    width: 60px;
    justify-content: center;
    align-items: center;
}